<table>
  <tr>
    <td>CustomerName :</td>
    <td><input [(ngModel)]="CustomerModel.CustomerName" type="text"></td>
  </tr>
  <tr>
    <td>CustomerCode :</td>
    <td><input [(ngModel)]="CustomerModel.CustomerCode" type="text"></td>
  </tr>
  <tr>
    <td>CustomerAmount :</td>
    <td><input [(ngModel)]="CustomerModel.CustomerAmount" type="text"></td>
  </tr>
  <input type="Submit">
</table>
{{myname}}<br>
{{CustomerModel.CustomerName}}<br>
{{CustomerModel.CustomerCode}}<br>
{{CustomerModel.CustomerAmount}}