<!-- Category : Electronics -->
<br>
<div class="container-fluid">
  <div class="bg-primary">
    <h1 align="center">Electronics</h1>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/Apple_MacBook-Pro-2021.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mac Book Pro</h5>
          <p class="card-text">Rs. 120000</p>
          <p class="card-text"><small class="text-muted">ProductId : apmb120 </small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/delllaptop.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dell Laptop</h5>
          <p class="card-text">Rs. 65000</p>
          <p class="card-text"><small class="text-muted">ProductId : dllp65 </small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/hp-driver-windows-11.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HP Laptop</h5>
          <p class="card-text">Rs. 40000</p>
          <p class="card-text"><small class="text-muted">ProductId : hplp40</small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Category : Fashion -->
  <div class="bg-primary">
    <h1 align="center">Fashion</h1>
  </div>

  <br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/fashion.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Tommy Hilfiger</h5>
          <p class="card-text">Rs. 1599</p>
          <p class="card-text"><small class="text-muted">ProductId : tmf12</small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/adidasfashion.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Adidas</h5>
          <p class="card-text">Rs. 6500</p>
          <p class="card-text"><small class="text-muted">ProductId : adi65</small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/guccifashion.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Gucci</h5>
          <p class="card-text">Rs. 4000</p>
          <p class="card-text"><small class="text-muted">ProductId : guc40</small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Category : Gaming -->
  <div class="bg-primary">
    <h1 align="center">Gaming</h1>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/chess.jpeg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Chess</h5>
          <p class="card-text">Rs. 599</p>
          <p class="card-text"><small class="text-muted">ProductId : chs12 </small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/carrom.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Carrom</h5>
          <p class="card-text">Rs. 1599</p>
          <p class="card-text"><small class="text-muted">ProductId : crm15</small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/familygame.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Family Game</h5>
          <p class="card-text">Rs. 400</p>
          <p class="card-text"><small class="text-muted">ProductId : fgm40</small></p>
          <p align="right"><input class="btn btn-primary" type="submit" value="Buy"></p>
        </div>
      </div>
    </div>
  </div>
</div>