<h1>Account</h1>

    
<!-- <div class="container-fluid"><br><br>
    <div class="navbar-dark bg-primary">
        <h2 align="center">My Account</h2>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/{{product.productImage}}" width="150" height="200"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{product.productName}}</h5>
                    <p class="card-text">Description : {{product.productDescription}}</p>
                    <p class="card-text">Quantity : {{product.productQuantity}}</p>
                    <p class="card-text">Rs. {{product.productFinal}}</p>
                </div>
            </div>
        </div>
    </div> -->