<h1 align="center">Admin Dashboard</h1>
<div class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Add Products</button>
    <span class="sr-only">(current)</span>

  </div>
  <!-- <input type="button" value="Buy" (click)="AddProduct(product)" class="btn btn-primary"> -->
  <table>
    <tr>
      <td>ProductName :</td>
      <td><input [(ngModel)]="product.productName" type="text"></td>
    </tr>
    <tr>
      <td>Product Description :</td>
      <td><input [(ngModel)]="product.productDescription" type="text"></td>
    </tr>
    <tr>
      <td>Category ID :</td>
      <td><input [(ngModel)]="product.catId" type="text"></td>
    </tr>
    <tr>
      <td>ProductImage :</td>
      <td><input [(ngModel)]="product.productImage" type="text"></td>
    </tr>
    <tr>
      <td>ProductMrp :</td>
      <td><input [(ngModel)]="product.productMrp" type="text"></td>
    </tr>
    <tr>
      <td>Product Discount :</td>
      <td><input [(ngModel)]="product.productDiscount" type="text"></td>
    </tr>
    <tr>
      <td>Product Final :</td>
      <td><input [(ngModel)]="product.productFinal" type="text"></td>
    </tr>
    <tr>
      <td>Product Quantity :</td>
      <td><input [(ngModel)]="product.productQuantity" type="text"></td>
    </tr>
    <tr></tr>
    <input type="submit" (click)="AddProduct()">
    <input type="submit" value="Get Product" (click)="getData()">
  </table>
  <br>
  <br>
  <table border="1">
    <th bgcolor="#8FD8FF">ProductName</th>
    <th bgcolor="#8FD8FF">Product Description</th>
    <th bgcolor="#8FD8FF">Category ID </th>
    <th bgcolor="#8FD8FF">ProductImage</th>
    <th bgcolor="#8FD8FF">ProductMrp </th>
    <th bgcolor="#8FD8FF">Product Discount </th>
    <th bgcolor="#8FD8FF">Product Final </th>
    <th bgcolor="#8FD8FF">Product Quantity </th>
    <tr *ngFor="let prod of products" bgcolor="#FFF99">
      <td>
        {{prod.productName}}
      </td>
      <td>
        {{prod.productDescription}}
      </td>
      <td>
        {{prod.catId}}
      </td>
      <td>
        {{prod.productImage}}
      </td>
      <td>
        {{prod.productMrp}}
      </td>
      <td>
        {{prod.productDiscount}}
      </td>
      <td>
        {{prod.productFinal}}
      </td>
      <td>
        {{prod.productQuantity}}
      </td>
    </tr>
  </table>
  <br><br>
  <!-- AddCategory -->

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Add Category</button> <span class="sr-only">(current)</span>
  </div>

  <table>
    <tr>
      <td>CategoryName :</td>
      <td><input [(ngModel)]="cat.catName" type="text"></td>
    </tr>

    <tr></tr>
    <input type="submit" (click)="AddCategory()">

  </table>



  <br><br>
  <!-- UserData -->
  <div class="btn-group" role="group" aria-label="Basic example">

    <span class="sr-only">(current)</span>
    <button type="button" class="btn btn-secondary" (click)="getUserData()">Registered User</button>
  </div>

  <table border="1">
    <th bgcolor=#f60089>UserName</th>
    <th bgcolor=#f08099>Address</th>
    <th bgcolor=#f08099>Phone No.</th>
    <th bgcolor="#f08099">City</th>
    <tr *ngFor="let item of users" bgcolor="ffff33">


      <td>
        {{item.userName}}
      </td>
      <td>
        {{item.address}}
      </td>
      <td>
        {{item.phoneNo}}
      </td>
      <td>
        {{item.city}}
      </td>
    </tr>
  </table>
</div>
<!-- <table align="center" border="2" bgcolor="#8D999F"> 
    
    <th>id</th>
    <th>UserName</th>
    <th>ProductName</th>
    <th>ProductMrp</th>
     <tr>
        <td>{{userName}}</td>
        <td>{{productName}}</td>
        <td>{{productMrp}}</td>
    </tr> 
</table> -->