<br><table>
    
    <tr>
      <td>User Id :</td>
      <td><input [(ngModel)]="UserModel.userId" type="text"></td>
    </tr>
    <tr>
        <td>User Name :</td>
        <td><input [(ngModel)]="UserModel.userName" type="text"></td>
      </tr>
    <tr>
      <td>User Address :</td>
      <td><input [(ngModel)]="UserModel.userAddress" type="text"></td>
    </tr>
    <tr>
      <td></td>
      <td>&nbsp;&nbsp;<input style="background-color:#8FD8FF ;" type="submit" (click)="AddUser()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" (click)="getData()" value="getData" style="background-color:#8FD8FF ;"></td>
    </tr>
    
  </table>
  
  <br>
  <table border="1">
    <th bgcolor=#f60089>User Id</th>
    <th bgcolor=#f08099>User Name</th>
    <th bgcolor=#f08099>User Address</th>
    <th bgcolor="#f08099">Actions</th>
    <tr *ngFor="let item of UserModels" bgcolor="ffff33">
      <td>
        {{item.userId}}
      </td>
      <td>
        {{item.userName}}
      </td>
      <td>
        {{item.userAddress}}
      </td>
      <td>
        <input type="button" value="Edit" (click)="EditUser(item)" />
        <input type="button" value="Delete" (click)="DeleteUser(item)" />
      </td>
    </tr>
  </table>