<br><table>
  <tr>
    <td>CustomerName :</td>
    <td><input [(ngModel)]="CustomerModel.customerName" type="text"></td>
  </tr>
  <tr>
    <td>CustomerCode :</td>
    <td><input [(ngModel)]="CustomerModel.customerCode" type="text"></td>
  </tr>
  <tr>
    <td>CustomerAmount :</td>
    <td><input [(ngModel)]="CustomerModel.customerAmount" type="text"></td>
  </tr>
  <tr></tr>
  <input type="submit" (click)="AddCustomer()">
  <input type="button" (click)="getData()" value="getData">
</table>

<br>
<table border="1">
  <th bgcolor=#f60089>Customer Code</th>
  <th bgcolor=#f08099>Customer Name</th>
  <th bgcolor=#f08099>Customer Amount</th>
  <th bgcolor="#f08099">Actions</th>
  <tr *ngFor="let item of CustomerModels" bgcolor="ffff33">
    <td>
      {{item.customerCode}}
    </td>
    <td>
      {{item.customerName}}
    </td>
    <td>
      {{item.customerAmount}}
    </td>
    <td>
      <input type="button" value="Edit" (click)="EditCustomer(item)" />
      <input type="button" value="Delete" (click)="DeleteCustomer(item)" />
    </td>
  </tr>
</table>